body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Geneva, sans-serif;
    max-width: 800px;
}


/* Format the <div> that represents the header ( as a blue, bordered box). */
.Header{
    background-color: #7695FE;
    border: thin #336699 solid;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

/* Format any <h1> headings in the header <div> ( that's thearticle title) */
.Header h1 {
    margin: 0px;
    color: white;
    font-size: xx-large;
}

/* Format the subtitle in the header <div>. */
.Header .Teaser {
    margin: 0px;
    font-weight: bold;
}

/* Format the byline in the header <div>. */
.Header .Byline {
    font-style: italic;
    font-size: small;
    margin: 0px;
}

.Content {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 5px;
    padding-left: 50px;
    line-height: 120%;
}

.Content .LeadIn {
    font-weight: bold;
    font-size: large;
    font-variant: small-caps;
}

.Content h2 {
    color: #24486C;
    margin-bottom: 2px;
    font-size: medium;
}

.Content p {
    margin-top: 0px;
}

.Footer {
    text-align: center;
    font-size: small;
}

.Footer .Disclaimer {
    font-style: italic;
}

.Footer p {
    margin: 3px;
}